NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_CDN_URL=

NEXT_PUBLIC_AUTH0_CLIENT_ID=

NEXT_PUBLIC_ALLOW_FEE_COLLECTION=true
NEXT_PUBLIC_ENABLE_FUNDRAISER_CITIES=false

UNSPLASH_ACCESS_KEY=

NEXT_PUBLIC_SENTRY_DSN=